#steps {
    h4 {
        font-family: Hoss Round;
        font-size: 30px;
        color: #FFFFFF;
        text-align: center; 
    }

    div {
        width: 80%;
        background: none;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;

       article {
            width: calc(80%/3);
            height: 40vh;
            background: url(img/ellipse.png);
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center; 
        }

        article:nth-child(1) { 
            img {
                position: relative;
                bottom: 90px;
                left: 10px; 
            }

            p {
                text-align: center;
                position: relative;
                bottom: 40px;
                font-family: Hoss Round; 
            }

            h6 {
                color: #F0143E;
                font-family: Hoss Round;
                font-weight: bold;
                font-size: 20px;
                position: relative;
                bottom: 10px; 
            }
        }

        article:nth-child(2) {
            img {
                position: relative;
                bottom: 100px; 
            }

            p {
                text-align: center;
                position: relative;
                bottom: 50px;
                font-family: Hoss Round;
            }

            h6 {
                color: #F0143E;
                font-family: Hoss Round;
                font-weight: bold;
                font-size: 20px;
                position: relative;
                bottom: 20px;
            }
        }

        article:nth-child(3) {

            img {
                position: relative;
                bottom: 100px; 
            }

            p {
                text-align: center;
                position: relative;
                bottom: 70px;
                font-family: Hoss Round;
            }

            h6 {
                color: #F0143E;
                font-family: Hoss Round;
                font-weight: bold;
                font-size: 20px;
                position: relative;
                bottom: 20px; 
            }
        }
    }
}