#homepage{
    article {
        width: calcul(50%/2);
        height: 300px;
        float: left; 
        background: none;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center; 

        h2, h3,p{
            font-family: Hoss Round;
            font-size: 36px;
            color: #FFFFFF;
        }

        h2{
            font-weight: normal;
            width: 100%;
        }

        

        h3, p{
            font-weight: normal;
            width: 600px;
        }

        p {
            font-size: 20px;
        }

        button {
            width: 200px;
            height: 50px;
            background: #F0143E;
            border-radius: 10px;
            color: #FFFFFF;
            cursor: pointer; 
            font-family: Hoss Round;
            font-size: 20px;
            font-weight: medium;
            border: none;

            &:hover {
                background: #FFFFFF;
                color: red;
            }
        }

    }

    article:nth-child(odd) {
        width: 45%;
        flex-direction: column;
        height: 90vh;
        padding-left: 200px;
        background: none;

    }

    article:nth-child(even) {
        width: 55%;
        background: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        align-items: flex-start;
        height: 90vh;

        img {
            max-width: 60%;
            
            
        }
    }
}

