#video{

    #trait_video{
        margin-left: 40px;
    }
    
    h4 {
        font-family: Omnes;
        font-size: 42px;
        padding-top: 50px;
        padding-left: 50px;
        color: #F0143E;
        text-align: left; 
    }

    video {
        width: 70%; 
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

}